nav.nav.navbar-default
  .container-fluid
    .navbar-header
      a.navbar-brand(href='#') NCYU ECE
    ul.nav.navbar-nav.navbar-right
      li
        a(data-toggle='tab', href='#section_ask') 引言 INTRO
      li
        a(data-toggle='tab', href='#section_about') 簡介 ABOUT
      li
        a(data-toggle='tab', href='#section_video') 影片 VIDEO

header.jumbotron  
  .container
    h1 嘉大幼教系,光譜取向融入課程設計
    hr
    h4 從學習中心到自主學習
section#section_ask
    .container
      .row
        .col-sm-6.img
        .col-sm-6
          h2 說清楚，什麼光譜計畫?
section#section_about
  .container
    .row
      .col-sm-12
        h1 光譜計畫/Project Spectrum
        hr
      .col-sm-4
        img(src="https://goo.gl/Yb6P2P", alt="")
        h3 光譜信念
        p 光譜計畫的信念是：每個孩子擁有不同能力組成的獨特剖面圖或智慧的光譜。同時這些智慧並非是固定不變的，它們可以在充滿啟發性的材料和活動而形成的教育機會中，得到滋潤和成長。在光譜計畫中，有兩個重要的階段，第一階段為1984年到1988年。在這段時期中，研究者針對七個領域方面---語言、數學、音樂、藝術、社會理解、科學、肢體動作等，設計了相當具有開創性的評量活動，以找出孩子的獨特優勢能力。第二階段為1988-1993年，研究者將研究計畫的結果推廣到小學低年級中。此時，他們著重四方面的教育方案發展與設計：(1)利用已經發展出來的評量活動，進一步修改成評量的量表，（2）設計學習中心的活動幫助孩子發展各領域中的能力，（3）將光譜的架構和兒童博物館形成合作關係，（4）以光譜計畫的方法為基礎，創設了師父方案（Mentor Program）。這些教育方案的發展和設計，對於教育鬆綁中的台灣中小學而言，非常值得細細閱讀和討論。
      .col-sm-4
        img(src="https://goo.gl/8LV7qF", alt="")
        h3 自主學習時段的設置
        p 由於台灣地區從2001年九月（九十學年度）開始，實施九年一貫課程，因此，我們便根據新課程中對於學習領域和教學時數規定，搭配彈性課程的觀念，先行整體思考課程的配搭和結合，並且從整體的時數中，根據學校的願景和光譜取向的觀念，在學校整體課程規畫中，畫出一個固定的時段，讓學生可以選擇學習內容，並且以自己的學習方式學習，這個時段正式定名為：「自主學習時間」。

      .col-sm-4
        img(src="https://goo.gl/irCq1s", alt="")
        h3 評量方式
        p 學習成果方面，強調觀察法與真實評量。光譜評量系統對幼兒有益的特點如下（王為國，2001）：（1）光譜評量讓幼兒參與有意義及情境化的遊戲；（2）光譜計畫模糊課程與評量的界線，將評量和正規的教育課程有效地統整起來；（3）光譜計畫運用智能公平的測量工具，直接評量幼兒在每個智能領域的運思情形，而非透過語文或邏輯數學等方式來測量；（5）光譜計畫提供幼兒從優勢領域跨入較弱勢領域之途徑；（6）光譜將焦點放在個人獨特的長處和潛能上，並且擴展到以學科為主或是特殊領域中。

section#section_video
  .container
    .row
      .col-sm-12
        h1 宣傳短片/Project Spectrum
        hr
      .col-sm-12
        .embed-responsive.embed-responsive-16by9
          iframe.embed-responsive-item(src='https://www.youtube.com/embed/W7LwlS6az34', allowfullscreen='')
